$font-size-base: 12px;
$font-family-sans-serif: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
$body-bg: #151515;
$text-color: #c8c8c8;

$sidebar_background: linear-gradient(#292929, #242424);
$mainColor1: #B93632; /* Red*/

$leftbar_width: 200px;
$rightbar_width: 250px;

$barColor: #bbb; 

/* Forms */
$input-bg: #353535;
$input-border: #6a6a6a;
$input-color: white;
$input-border-focus: $mainColor1;

/* Buttons */

$btn-default-border: #6a6a6a;
$btn-default-color: white;


$grid-gutter-width: 4px;

/* Tables */

$table-bg-accent: #1F2226;
$table-border-color: grey;


/* Links */

$brand-primary: #91CDD7;