<footer>
	
<div class="row">
			<div class="col-sm-3">
				<a href="/" class="f_logo"><img src="/images/logo.png" alt="Dota2City.net" width="100px"></a>
				<copy>© 2015</copy>
			</div>
			<div class="col-sm-9">
			  	<div class="f_soc pull-right">
					<a target="_blank" href="https://vk.com/club86056273"><i class="fa fa-fw fa-vk"></i></a>
                    <a target="_blank" href="https://twitter.com/Dota2City?ref_src=twsrc%5Etfw"><i class="fa fa-fw fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/Dota2City/?fref=ts"><i class="fa fa-fw fa-facebook"></i></a>
                     <a target="_blank" href="http://steamcommunity.com/groups/dota2city"><i class="fa fa-fw fa-steam"></i></a>

				</div>
				<ul class="f_menu">
					<li><a href="/about">О проекте</a></li>
					<li><a href="/rules">Правила</a></li>
					<li><a href="/ads">Реклама</a></li>
					<li><a href="/partner">Партнеры</a></li>
				</ul>
			 </div>

		</div>

</footer>