<div id="leftbar-wrapper">
<div id="logo">
<%= image_tag("logo.png", :alt => "logo") %>
</div>
<div class="nav-container">

  <ul class="nav">
    <li class="active">
      <a href="#">
        <i class="fa fa-home"></i>
        <span class="text">Главная</span>
      </a>
    </li>
     <li class="">
      <a href="#">
        <i class="fa fa-sign-in"></i>
        <span class="text">Ввод</span>
      </a>
    </li>
     <li class="">
      <a href="#">
        <i class="fa fa-sign-out"></i>
        <span class="text">Вывод</span>
      </a>
    </li>
        <li class="">
      <a href="#">
        <i class="fa fa-gamepad"></i>
        <span class="text">Играть</span>
      </a>
    </li>
    <li class="">
      <a href="#">
        <i class="fa fa-info-circle"></i>
        <span class="text">FAQ</span>
      </a>
    </li>

  </ul>

</div>
</div>