<div id="rightbar-wrapper">

 <!-- This is a comment 

<div id="user_info">
<img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/fe/fef49e7fa7e1997310d705b2a6158ff8dc1cdfeb_full.jpg" class="img-circle" alt="logo">
<span id="user_settings" class="user_buttons"><a href="#" title="Профиль"><i class="fa fa-cogs"></i></a></span>
<span id="user_signout" class="user_buttons"><a href="#" title="Выход"><i class="fa fa-sign-out"></i></a></span>
<div id="user_login" class="overflow">IWillDominate</div>
<div class="overflow">Баланс: <span id="user_money">0.000</span>$</div>
<div class="overflow">Бонус: <span id="user_bonus">0.000</span>$</div>
</div>
--> 

<div id="login_form">
Авторизируйся через свой Steam аккаунт!
<a href="/auth/steam"><img src="/images/steam.png" alt="steam"></a>

    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

</div>

<div id="chat">
	<div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
  	<div class="chat_msg"><time class="label label-default time_label"><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Ololowka:</span>
  
    <div class="chat_user_msg">что за обнова ребят?  </div>
  

  </div>

  	<div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Mid or feed:</span>
  
    <div class="chat_user_msg">меняю башер на ам на щит иммортал на свена  </div>
  

  </div>
  <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
  <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
  <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
  <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
  <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
   <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>
   <div class="chat_msg"><time class="label label-default time_label" ><i class="fa fa-fw fa-clock-o"></i> 22 октября 2015</time><span class="chat_user_name overflow">Gabby:</span>
  
    <div class="chat_user_msg">Куплю вещи из доты или кs go . Пишем в skype ololodablkill оплата - qiwi. Кидалы не пишите </div>
  

  </div>

</div>
<div class="input-group">
      <input type="text" class="form-control" placeholder="Сообщение" style="border-radius: 0px;">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" style="border-radius: 0px;"><i class="fa fa-envelope"></i></button>
      </span>
    </div><!-- /input-group -->

</div> 
